.rightBlock {
    width: 50%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.rightBlockContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 80%;
    /* height: 100vh; */
    /* border: 1px solid #35331d; */
    border-radius: 5px;
    /* align-items: center; */
    /* justify-content: center; */
}

.title {
    font-size: 3rem;
    color: #49613D;
    font-weight: 500;
}

.input {
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #49613D;
    /* background-color: #49613D */
    /* color: #35331d; */
}

.input:focus {    
    border: 2px solid #CBC8C2;
}
