h1, h2 {
    text-align: center;
}

h2 {
    color: black;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.cardPlayer {
    border: 1px solid black;
    height: 150px;
    margin: 5px;
    width: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}